<div>
  <div class="modal-header">
  	<h3 class="modal-title">Manage Contacts' Encryption Keys
  	<button class="btn btn-warning text-right" ng-click="updateContacts()">Refresh Contacts <span><i class="glyphicon glyphicon-refresh"></i></span></button></h3>
  </div>
  <div class="modal-body">
	<table class="table table-striped">
		<thead>
		<tr class="row">
	  		<th>Contact's Name</th>
	  		<th>Contact's E-mail Address</th>
	  		<th class="text-right">Remove Contact's Encrpytion Key</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<tr class="row" ng-repeat="contact in contactList">
	  		<td>{{contact.name}}</td>
	  		<td>{{contact.email_address}}</td>
	  		<td class="text-right">
	  			<button class="btn btn-danger" ng-disabled="contact.email_address===wrap.me" ng-click="deleteContact(contact)">
	  				<i class="glyphicon glyphicon-trash"></i>
	  			</button>
	  		</td>
	  	</tr>
	  </tbody>
	</table>
  </div>
  <div class="modal-footer text-right">
  	<button class="btn btn-danger" ng-click="cancel()">Close</button>
  </div>
</div>