<div class="com-sm-12">
  <div class="modal-header">
  	<h3 class="modal-title">Add and Invite New Contacts</h3>
  </div>
  <div class="modal-body">
  	<div class="form-group container">
  		<h4>Invite Someone to PrivateMail</h4>

  		<div class="col-sm-2">
  			<h4 tooltip-placement="bottom" uib-tooltip="This is the name of the person you want to invite to PrivateMail">Name</h4>
		</div>
		<div class="col-sm-6">
		  <input class="form-control" ng-model="inviteeName">
		</div>
		<div class="col-sm-4">
		</div>
		<br><br>

  		<div class="col-sm-2">
  			<h4 tooltip-placement="bottom" uib-tooltip="This is the email address of the person you want to invite to PrivateMail">Email</h4>
		</div>
		<div class="col-sm-6">
		  <input class="form-control" ng-model="inviteeEmail">
		</div>
		<div class="col-sm-4">
		</div>
		<br><br>

		<button class="btn btn-success" ng-click="invite()" ng-disabled="!(inviteeEmail&&inviteeName)">Invite</button>
	</div>

	<h2 class="col-sm-12 text-center" style="margin-top:0px">
    <hr class="col-sm-4" style="border-color:black"></hr>
    <div class="col-sm-2">OR</div>
    <hr class="col-sm-4" style="border-color:black"></hr>
  </h2>

  	<div class="form-group" style="padding-left:15px">
  		<h4>Add a New Contact's Encyption Key</h4>
  		<textarea class="form-control" rows="5" placeholder="-----BEGIN PGP PUBLIC KEY BLOCK-----&#10;...&#10;...&#10;...&#10;-----END PGP PUBLIC KEY BLOCK-----" ng-model="newKey"></textarea>
  		<br>
  		<button class="btn btn-success text-right" ng-click="addKey()" ng-disabled="!newKey">Add Encryption Key</button>
  	</div>

  </div>
  <div class="modal-footer text-right">
  	<button class="btn btn-danger" ng-click="cancel()">Close</button>
  </div>
</div>