<html>
	<head>
   		<link rel="stylesheet" href="css/bootstrap.css">
      <script src="js/angular.min.js"></script>
      <script src="js/uib-bootstrap-tpls-2.5.0.min.js"></script>
      <script src="js/options.js"></script>
    </head>
  <body ng-app="settings-app" ng-controller="settingsCtrl">
    <div class="container" ng-hide="publicKey">
      <div class="row">
        <h1 class="col-sm-8">Set up PrivateMail</h1>
        <a class="col-sm-4" href="http://vaccine.cs.umd.edu/setup.html" target="_blank" style="margin-top:20px; margin-bottom:10px"><button class="btn btn-info">Help</button></a>
        <br><br>
      </div>

      <div class="row" ng-include="'setup.html'"></div>

      <!--<button class="btn btn-info" ng-click="logScope()">Log</button>-->
      
      <button class="btn btn-success" ng-disabled="!(accountData.email&&accountData.userName&&accountData.password)||buttonDisable" ng-click="setup()">{{buttonText}}</button>
      <p>In order to start sending encrypted email, you must refresh any Gmail pages you have open.</p>
    </div>
    <div class="container" ng-show="publicKey">
      <h1>Options</h1>

      <div uib-alert class="alert-info" dismiss-on-timeout="10000" close="dismissAlert()" ng-if="alert">Please Message Your Contacts with Your New Key
      </div>

      <button class="btn btn-success" ng-click="openAddNew()">Add and Invite New Contacts</button>
      <br><br>

      <button class="btn btn-warning" ng-click="openContactsList()">Manage Your Current Contacts' Encryption Keys</button>
      <br><br>

      <button class="btn btn-danger" ng-click="openRegen()">Generate A New Encryption Key</button>

      <h4 style="word-wrap:break-word">
        Your Encryption Key (send this text to your friends with PGP so they can add your encryption key to their list of encryption keys): 
      </h4>
      <pre>{{publicKey}}</pre>
    </div>
  </body>
</html>