<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
      <!--<link rel="stylesheet" href="css/bootstrap.css">-->
      <script src="js/angular.min.js"></script>
      <script src="js/popup.js"></script> 
      <style>
      </style>
    </head>
  <body ng-app="my-app" ng-controller="myCtrl">
    <!--<div class="container" >
      <h1>Set up PrivateMail for gmail</h1>
      <p>In order to send and recieve encrypted email, PrivateMail needs to be able to access you gmail account, which allows it to send and recieve the encrypted email.  Click the Authorize button to give PrivateMail these required permissions.
      </p>
      <button id="authorize-button" class="btn btn-primary" ng-click="alertBackgroundToAuthorize()">Authorize</button>
    </div>-->
  </body>
</html>

