<div>
  <div class="modal-header">
  	<h3 class="modal-title">Generate a new key/Reset passphrase</h3>
  </div>
  <div class="modal-body row">
    <div ng-include="'setup.html'"></div>
    <div class="container checkbox">
      <label>
        <input type="checkbox" ng-model="accountData.userAccepts">
        I understand that I will not be able to read encrypted emails previously sent to me after clicking "Generate New Key"
      </label>
    </div>
  </div>
  <div class="modal-footer text-right">
  	<button class="btn btn-danger" ng-disabled="buttonDisable" ng-click="cancel()">Cancel</button>
  	<button class="btn btn-success" ng-disabled="!(accountData.email&&accountData.userName&&accountData.password&&accountData.userAccepts)||buttonDisable" ng-click="ok()">{{buttonText}}</button>
  </div>
</div>