<div ng-if="newSetup">
	<div class="col-sm-2">
	  <h4>Email</h4>
	</div>
	<div class="col-sm-6" tooltip-placement="bottom" uib-tooltip="This is the email address which you authorized access to">
	  <input class="form-control" ng-model="accountData.email" ng-disabled="true" placeholder="Loading; If this takes a long time, click the authorize button">
	</div>
	<div class="col-sm-4">
		<button uib-tooltip="If the email field is not automatically filling, then there is a problem authorizing the Gmail API; click this button to reauthorize" class="btn btn-info" ng-if="!accountData.email" ng-click="authorize()">
			Authorize Gmail API
		</button>
	</div>
	<br><br>

	<div class="col-sm-2">
	   <h4>Name</h4>
	</div>
	<div class="col-sm-6">
	  <input class="form-control" ng-model="accountData.userName"  tooltip-placement="bottom" uib-tooltip="To make your PGP encryption key, we need your name" placeholder="Your name">
	</div>
	<div class="col-sm-4">
	</div>
	<br><br>

	<div class="col-sm-2">
	  <h4>Password</h4>
	</div>
	<div class="col-sm-6">
	  <input class="form-control" ng-model="accountData.password" tooltip-placement="password" uib-tooltip="You must remember this password to be able to view encrypted emails that have been sent to you." placeholder="You must remember this">
	</div>
	<div class="col-sm-4">
		<button tooltip-placement="top" uib-tooltip="Generate a password by choosing random words" class="btn btn-info" ng-click="generatePassword()">Suggest a password</button>
	</div>
	<br><br>

	<!--<div class="col-sm-2">
	   <button class="btn btn-info" ng-click="toggleImport()">I already have a PGP key and want to import it into PrivateMail</button>
	</div>
	<div class="col-sm-6">
	</div>
	<div class="col-sm-4">
	</div>
	<br><br>-->
</div>
<div ng-if="!newSetup">
	<div class="form-group" style="padding-left:15px">
  		<h4>Import your private key</h4>
  		<textarea class="form-control" rows="5" placeholder="-----BEGIN PGP PRIVATE KEY BLOCK-----&#10;...&#10;...&#10;...&#10;-----END PGP PRIVATE KEY BLOCK-----" ng-model="accountData.privKey"></textarea>
  	</div>

  	<div class="col-sm-2">
	   <button class="btn btn-info" ng-click="toggleImport()">I want to generate a new key</button>
	</div>
	<div class="col-sm-6">
	</div>
	<div class="col-sm-4">
	</div>
	<br><br>
</div>